@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-grey:#e5e5e5;
    --color-bg:black;
    --color-greyLight:#616161dc;
}
*{
    font-family: 'Roboto';
    margin:0px;
    box-sizing: border-box;
}
    i{
        font-style: normal;
       
    }
   
        .nav-bar{ z-index: 10;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            height:70px;
            position:sticky;
            
            background-color:#292929;
            .burger{
                display:flex;
                
                align-items:center;
                margin-left:22px;
                margin-right:0px;
             
                width:46px;
                
                a{
                    display:flex;
                    justify-content: center;
                    padding:8px;
                    width:100%;
                    height:100%;
                    &:active{
                        position:relative;
                        //padding-top:-40px;
                        height:50px;
                        width:50px;
                        border-radius:100%;
                        background-color:rgba(255, 255, 255, 0.747)
                    }
                   svg{
                       fill:white;
                      &:active{
                          margin-top:-200px;
                      }
                   } 
                }
            }

        .mainBar{
           // z-index: 10000000;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding:4px 0px 0px 0px;
            margin-left:25px;
            height:70px;
            width:100%;
            border-bottom:0.5px solid #e5e5e548;
            position:sticky;
            background-color:#292929;
            top:0;
            //box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
            i{
                padding:0 7.5px;
            }
            
            .logo{
                display:flex;
                align-items:flex-start;
                
                img{
                    width:125px;
                    padding:  18px 16px 18px 0px;
                }
            }
            .searchbar{
                width:100%;
                height:100%;
                    display:flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                form{
                    border: 1px solid #303030;
                    height:38px;
                    display:flex;
                    flex-direction:row;
                    justify-content:flex-start;
                    

                }
                input, button{
                    border-radius:0;
                    border:none;
                    height:100%;
                    margin:0;
                    padding:0;
                }
                input{
                    background-color: black;

                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 4px;
                    max-width: 100%;
                   margin:0;
                    cursor: text;
                    font: 300 20px Arial;
                    padding: 4px 15px;
                    border-width: 0px;
                    border-style: inset;
                    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
                    width:750px;
                }
                #search-icon{
                    margin-top:0px;
                    height:36.9px;
                    width:70px;
                    padding:5px;
                    background-color:#303030;
                    &:hover{
                        fill:rgba(255, 255, 255, 0.568);  
                    }
                    yt-icon{ width:10%;
                       
                        a{
                            width:5px;
                            
                            padding:10px;
                            &:hover{
                                fill:rgba(255, 255, 255, 0.726);
                            }
                        svg{padding:10px 23px;
                            fill:#6f6f6f;
                           
                              
                       
                        }
                    }
                    }
                }
                .voice-button{
                    background-color:transparent;
                    width:60px;
                    height:30px;
                    position: relative;
                    display: inline-block;
                    
                    yt-icon{
                        width:20%;
                        svg{
                            fill:white;
                            width:50%;
                        }
                        

                    }
                }
                .voice-button .tooltiptext {
                    visibility: hidden;
                    width: 170px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    padding: 10px 0;
                    font-size: 15px;
                    //margin-top:100px;
                    /* Position the tooltip */
                    position: absolute;
                   
                    top: 200%;
                    left: 70%;
                    background-color:#616161dc;
                    margin-left: -100px;
                  }
                  .voice-button:hover .tooltiptext {
                    visibility: visible;
                    z-index:100;
                  }
            
            }
            
            .iconsRight{
                width:26%;
                display:flex;
                //margin-top:10px;
                margin-right:25px;
                height:100%;
                .lefticons-button{
                position: relative;
                display: inline-block;
                cursor:pointer;
                }
                
                .create-button .tooltiptext {
                    
                    visibility: hidden;
                    width: 150%;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    text-align:center;
                    padding: 10px 0px;
                    font-size: 15px;
                    //margin-top:100px;
                    /* Position the tooltip */
                    position: absolute;
                   
                    top: 120%;
                    left: 190%;
                    background-color:#616161dc;
                    margin-left: -100px;
                  }
                  .apps-button .tooltiptext {
                    visibility: hidden;
                    width: 250%;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    text-align:center;
                    padding: 10px 0px;
                    font-size: 15px;
                    //margin-top:100px;
                    /* Position the tooltip */
                    position: absolute;
                   
                    top: 120%;
                    left: 140%;
                    background-color:#616161dc;
                    margin-left: -100px;
                  }
                  .notifications-button .tooltiptext {
                    visibility: hidden;
                    width: 250%;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    text-align:center;
                    padding: 10px 0px;
                    font-size: 15px;
                    //margin-top:100px;
                    /* Position the tooltip */
                    position: absolute;
                   
                    top: 120%;
                    left: 140%;
                    background-color:#616161dc;
                    margin-left: -100px;
                  }
                  .lefticons-button:hover .tooltiptext {
                    visibility: visible;
                    z-index:100;
                  }
                .profile-button{
                    
                    img{margin-top:3px;
                        border-radius:50%;
                    }
                    
                }
                .create-button,.apps-button, .notifications-button,.profile-button{
                    background-color:#292929;
                    width:45px;
                    margin:0px 9px;
                    border:none;
                    yt-icon{
                        width:50%;
                        
                        svg{
                        
                            fill:white;
                        }
                        

                    }
                }
                
            }
        }
    }
    




.mainSection{
    height:calc(100vh-70px);
    display:flex;
    overflow:hidden;
    

    
}

.lateralMenu{
    background-color:#292929;
    //width:270px; 
    
    width:0;
    height:100%;
    //margin-top:-40px;
    color:white;
    //visibility:hidden;
    overflow-y:scroll;
    position:fixed;
    //z-index:100000000;
    top:0;
    left:0;
    overflow-x:hidden;
    transition:0.5s;
    //padding-top:60px;
    .lat-logo{transition:0.5s;
        display:flex;
        padding-left:22px;
        align-items:center;
        //margin-top:50px;
        z-index:1000;
        height:70px;
        border-bottom:0.5px solid #e5e5e548;
        div{
            width:45px;
        a{  
            display:flex;
            justify-content: center;
            padding:8px;
            width:100%;
            height:100%;
           svg{
               fill:white;
           } 
        }
    }
        img{
            width:141px;
            margin-left:28px;
            padding:  22px 14px 18px 16px;
        }
    }
    .categories {
        padding-left:0px;
        margin-left:0px;
        h3{margin-left:10px;
            margin-top:15px;
            margin-bottom:10px;
            font-weight: 500;
            font-size:18px;
        }
    }
    .subscriptions{
        display:flex;
        flex-direction:column;
        border-bottom:0.25px solid var(--color-greyLight);

        padding:15px 0px;
        padding-left:22px;
        h3{
            font-size:18px;
            margin:10px 5px;
            font-weight:500;
      
        }
        
        .subscription-img{
            border-radius:50%;
            width:30px;
        }
        .category{
            width:100%;
            display:flex;
            align-items:center;
            //justify-content: center;
            padding:12.5px 10px;
            
            &:hover{
                background-color:var(--color-greyLight);
            }
            .subscription-name{
                font-size:18px;
                margin-top:2px;
                margin-left:30px;
                margin-right:10px;
                align-self:center;
            }
            .category-name{
                font-size:18px;
                margin-top:0px;
                margin-left:10px;
                margin-right:8px;
                align-self:center;
            }
            svg{//ill:white;
                font-size:10px;
                width:20px;
                margin-right:25px;
                g{
                    width:10px;
                path{font-size:10px;
                    //fill:white;
                    width:5%;
                }
            }
            }
            
            .category-name{
                margin-top:10px;
                margin-right:10px;
                align-self:center;
            }
        }
    }
    .first-cat{
        margin-top:80px;
    }
    .categories{
        display:flex;
        flex-direction:column;
        
        border-bottom:0.25px solid var(--color-greyLight);
        padding:15px 0px 15px 20px;
        
       

    .category{
        width:100%;
        display:flex;
        padding:12.5px 10px;
        &:hover{
            background-color:var(--color-greyLight);
        }
        svg{
            margin-right:32px;
        }
        .category-name{
            font-size:17px;
            margin-top:5px;
           
        }
    }

}  

.lat-logo{
    position:fixed;
    background-color:#292929;
    width:270px;
    margin-right:0px;
}
}
#items{
    width:100px;
    background-color:#292929;
    //height:100vh;
    color:white;
    //fill:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:none;
    font-size:12px;
    text-align:center;
    .home{
        width:28px;
        margin-top:15px;
        yt-icon{
            fill:white;
        }
        .title{
            color:white;
        }
        span{
            margin-top:0px;
            
            
        }
    }
    ytd-mini-guide-entry-renderer{
        margin-bottom: 40px;
        width:30px;
        height:50px;
        yt-icon{
            fill:#909090;
        }
        span{
            text-decoration:none;
            &:hover, &:focus, &:visited, &:active{
                text-decoration:none;  
            }
        }
        .title{
            display:flex;
            justify-content:center;
            text-decoration:none;
            color:#909090;
            text-align:center;
        }
    }

}
.videos{
    background:black;
    height: 100%;
    width: 100%;
    
    
    overflow-y:scroll;
    #scroll-container{
        color:white;
        position:sticky;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        border-bottom:0.5px solid #e5e5e548;
        background-color:#292929;
        height:75px;
        margin:0px;
        display:flex;
            justify-content:flex-start;
            align-items: center;
        iron-selector{
            margin-left:26px;
          
            yt-chip-cloud-chip-renderer{
               margin-right:14px;
               border:1px solid #4b4b4b;
               padding:9px 2px;
                background-color:#373737;
                border-radius:40px;
                &:hover{
                    background-color:rgba(255, 255, 255, 0.15);
                }
                yt-formatted-string{
                    padding:5px 10px;
                    font-size:18px;
                    font-weight:400;
                }
                
            }
            .first-all{
                background-color:#fff;
                color:#030303;
                border-color:#fff;
            }
            
        }
        
    }
    .videoGrid{
        //margin-left:10px;
        padding:15px 30px;
        display:flex;
        //overflow: auto;
        max-height: 100vh;
        //overflow-y:scroll;
        overflow:auto;
        background-color:#181818;
        justify-content:space-between;
        flex-wrap:wrap;
        .video{
            margin-top:16px;
            margin-left:0px;
            margin-right:10px;
            width:23%;
            margin-bottom:40px;
            .thumbnail{
                width:100%;
                height:170px;
                img{
                    object-fit:cover;
                    width:100%;
                    height:100%;
                }
                
                .cover-bottom{
                    //visibility:hidden;
                    //display: none;
                    position: relative;
                    top: 0;
                    left: 0;
                z-index: -1;
                  
                }
            }
            .author{
                height:40px;
                width:50px;
                border-radius:100%;
                overflow:hidden;
                img{
                    object-fit: cover;
                    width:100%;
                    height:100%;
                    

                }
            }
            .details{
                display:flex;
                color:white;
                margin-top:20px;
                
                .headings{
                    margin-left:20px;
                    display:flex;
                    width:100%;
                    flex-direction:column;
                 h3{
                    //margin-top:10px; 
                    font-weight: 500;
                    font-size:18px;
                 } 
                 a{
                     color:inherit;
                     text-decoration: none;
                 }
                 a, span{
                     font-size:18px;
                     margin-top:5px;
                    color: #909090;
                 }  
                }
            }
        }
    }
}