@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-grey:#e5e5e5;
  --color-bg:black;
  --color-greyLight:#616161dc;
}

* {
  font-family: 'Roboto';
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  font-style: normal;
}

.nav-bar {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #292929;
}

.nav-bar .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 22px;
  margin-right: 0px;
  width: 46px;
}

.nav-bar .burger a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.nav-bar .burger a:active {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.747);
}

.nav-bar .burger a svg {
  fill: white;
}

.nav-bar .burger a svg:active {
  margin-top: -200px;
}

.nav-bar .mainBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0px 0px 0px;
  margin-left: 25px;
  height: 70px;
  width: 100%;
  border-bottom: 0.5px solid #e5e5e548;
  position: -webkit-sticky;
  position: sticky;
  background-color: #292929;
  top: 0;
}

.nav-bar .mainBar i {
  padding: 0 7.5px;
}

.nav-bar .mainBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-bar .mainBar .logo img {
  width: 125px;
  padding: 18px 16px 18px 0px;
}

.nav-bar .mainBar .searchbar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .mainBar .searchbar form {
  border: 1px solid #303030;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-bar .mainBar .searchbar input, .nav-bar .mainBar .searchbar button {
  border-radius: 0;
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-bar .mainBar .searchbar input {
  background-color: black;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  margin: 0;
  cursor: text;
  font: 300 20px Arial;
  padding: 4px 15px;
  border-width: 0px;
  border-style: inset;
  border-color: -internal-light-dark(#767676, #858585);
  width: 750px;
}

.nav-bar .mainBar .searchbar #search-icon {
  margin-top: 0px;
  height: 36.9px;
  width: 70px;
  padding: 5px;
  background-color: #303030;
}

.nav-bar .mainBar .searchbar #search-icon:hover {
  fill: rgba(255, 255, 255, 0.568);
}

.nav-bar .mainBar .searchbar #search-icon yt-icon {
  width: 10%;
}

.nav-bar .mainBar .searchbar #search-icon yt-icon a {
  width: 5px;
  padding: 10px;
}

.nav-bar .mainBar .searchbar #search-icon yt-icon a:hover {
  fill: rgba(255, 255, 255, 0.726);
}

.nav-bar .mainBar .searchbar #search-icon yt-icon a svg {
  padding: 10px 23px;
  fill: #6f6f6f;
}

.nav-bar .mainBar .searchbar .voice-button {
  background-color: transparent;
  width: 60px;
  height: 30px;
  position: relative;
  display: inline-block;
}

.nav-bar .mainBar .searchbar .voice-button yt-icon {
  width: 20%;
}

.nav-bar .mainBar .searchbar .voice-button yt-icon svg {
  fill: white;
  width: 50%;
}

.nav-bar .mainBar .searchbar .voice-button .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px 0;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  top: 200%;
  left: 70%;
  background-color: #616161dc;
  margin-left: -100px;
}

.nav-bar .mainBar .searchbar .voice-button:hover .tooltiptext {
  visibility: visible;
  z-index: 100;
}

.nav-bar .mainBar .iconsRight {
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  height: 100%;
}

.nav-bar .mainBar .iconsRight .lefticons-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-bar .mainBar .iconsRight .create-button .tooltiptext {
  visibility: hidden;
  width: 150%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0px;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  top: 120%;
  left: 190%;
  background-color: #616161dc;
  margin-left: -100px;
}

.nav-bar .mainBar .iconsRight .apps-button .tooltiptext {
  visibility: hidden;
  width: 250%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0px;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  top: 120%;
  left: 140%;
  background-color: #616161dc;
  margin-left: -100px;
}

.nav-bar .mainBar .iconsRight .notifications-button .tooltiptext {
  visibility: hidden;
  width: 250%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0px;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  top: 120%;
  left: 140%;
  background-color: #616161dc;
  margin-left: -100px;
}

.nav-bar .mainBar .iconsRight .lefticons-button:hover .tooltiptext {
  visibility: visible;
  z-index: 100;
}

.nav-bar .mainBar .iconsRight .profile-button img {
  margin-top: 3px;
  border-radius: 50%;
}

.nav-bar .mainBar .iconsRight .create-button, .nav-bar .mainBar .iconsRight .apps-button, .nav-bar .mainBar .iconsRight .notifications-button, .nav-bar .mainBar .iconsRight .profile-button {
  background-color: #292929;
  width: 45px;
  margin: 0px 9px;
  border: none;
}

.nav-bar .mainBar .iconsRight .create-button yt-icon, .nav-bar .mainBar .iconsRight .apps-button yt-icon, .nav-bar .mainBar .iconsRight .notifications-button yt-icon, .nav-bar .mainBar .iconsRight .profile-button yt-icon {
  width: 50%;
}

.nav-bar .mainBar .iconsRight .create-button yt-icon svg, .nav-bar .mainBar .iconsRight .apps-button yt-icon svg, .nav-bar .mainBar .iconsRight .notifications-button yt-icon svg, .nav-bar .mainBar .iconsRight .profile-button yt-icon svg {
  fill: white;
}

.mainSection {
  height: calc(100vh-70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.lateralMenu {
  background-color: #292929;
  width: 0;
  height: 100%;
  color: white;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lateralMenu .lat-logo {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  height: 70px;
  border-bottom: 0.5px solid #e5e5e548;
}

.lateralMenu .lat-logo div {
  width: 45px;
}

.lateralMenu .lat-logo div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.lateralMenu .lat-logo div a svg {
  fill: white;
}

.lateralMenu .lat-logo img {
  width: 141px;
  margin-left: 28px;
  padding: 22px 14px 18px 16px;
}

.lateralMenu .categories {
  padding-left: 0px;
  margin-left: 0px;
}

.lateralMenu .categories h3 {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.lateralMenu .subscriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0.25px solid var(--color-greyLight);
  padding: 15px 0px;
  padding-left: 22px;
}

.lateralMenu .subscriptions h3 {
  font-size: 18px;
  margin: 10px 5px;
  font-weight: 500;
}

.lateralMenu .subscriptions .subscription-img {
  border-radius: 50%;
  width: 30px;
}

.lateralMenu .subscriptions .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.5px 10px;
}

.lateralMenu .subscriptions .category:hover {
  background-color: var(--color-greyLight);
}

.lateralMenu .subscriptions .category .subscription-name {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 30px;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lateralMenu .subscriptions .category .category-name {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lateralMenu .subscriptions .category svg {
  font-size: 10px;
  width: 20px;
  margin-right: 25px;
}

.lateralMenu .subscriptions .category svg g {
  width: 10px;
}

.lateralMenu .subscriptions .category svg g path {
  font-size: 10px;
  width: 5%;
}

.lateralMenu .subscriptions .category .category-name {
  margin-top: 10px;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lateralMenu .first-cat {
  margin-top: 80px;
}

.lateralMenu .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0.25px solid var(--color-greyLight);
  padding: 15px 0px 15px 20px;
}

.lateralMenu .categories .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12.5px 10px;
}

.lateralMenu .categories .category:hover {
  background-color: var(--color-greyLight);
}

.lateralMenu .categories .category svg {
  margin-right: 32px;
}

.lateralMenu .categories .category .category-name {
  font-size: 17px;
  margin-top: 5px;
}

.lateralMenu .lat-logo {
  position: fixed;
  background-color: #292929;
  width: 270px;
  margin-right: 0px;
}

#items {
  width: 100px;
  background-color: #292929;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: none;
  font-size: 12px;
  text-align: center;
}

#items .home {
  width: 28px;
  margin-top: 15px;
}

#items .home yt-icon {
  fill: white;
}

#items .home .title {
  color: white;
}

#items .home span {
  margin-top: 0px;
}

#items ytd-mini-guide-entry-renderer {
  margin-bottom: 40px;
  width: 30px;
  height: 50px;
}

#items ytd-mini-guide-entry-renderer yt-icon {
  fill: #909090;
}

#items ytd-mini-guide-entry-renderer span {
  text-decoration: none;
}

#items ytd-mini-guide-entry-renderer span:hover, #items ytd-mini-guide-entry-renderer span:focus, #items ytd-mini-guide-entry-renderer span:visited, #items ytd-mini-guide-entry-renderer span:active {
  text-decoration: none;
}

#items ytd-mini-guide-entry-renderer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #909090;
  text-align: center;
}

.videos {
  background: black;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.videos #scroll-container {
  color: white;
  position: -webkit-sticky;
  position: sticky;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 0.5px solid #e5e5e548;
  background-color: #292929;
  height: 75px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos #scroll-container iron-selector {
  margin-left: 26px;
}

.videos #scroll-container iron-selector yt-chip-cloud-chip-renderer {
  margin-right: 14px;
  border: 1px solid #4b4b4b;
  padding: 9px 2px;
  background-color: #373737;
  border-radius: 40px;
}

.videos #scroll-container iron-selector yt-chip-cloud-chip-renderer:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.videos #scroll-container iron-selector yt-chip-cloud-chip-renderer yt-formatted-string {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 400;
}

.videos #scroll-container iron-selector .first-all {
  background-color: #fff;
  color: #030303;
  border-color: #fff;
}

.videos .videoGrid {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  overflow: auto;
  background-color: #181818;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos .videoGrid .video {
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 10px;
  width: 23%;
  margin-bottom: 40px;
}

.videos .videoGrid .video .thumbnail {
  width: 100%;
  height: 170px;
}

.videos .videoGrid .video .thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.videos .videoGrid .video .thumbnail .cover-bottom {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.videos .videoGrid .video .author {
  height: 40px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.videos .videoGrid .video .author img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.videos .videoGrid .video .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 20px;
}

.videos .videoGrid .video .details .headings {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.videos .videoGrid .video .details .headings h3 {
  font-weight: 500;
  font-size: 18px;
}

.videos .videoGrid .video .details .headings a {
  color: inherit;
  text-decoration: none;
}

.videos .videoGrid .video .details .headings a, .videos .videoGrid .video .details .headings span {
  font-size: 18px;
  margin-top: 5px;
  color: #909090;
}
/*# sourceMappingURL=main.css.map */