
.section-img{
    height:150px;
    width:90%;
    object-fit: cover;
    border-radius: 4px;
    
}
.section-heading{
    //display:inline-block;
    width:90%;
    border-top:1px solid black;
    //border-bottom: 1px solid black;
    text-align:center;
    padding:10px 0px;
    font-weight:600;
    margin-top:40px;
}

.category-list{
    list-style-type:none;
    .category-item{
        margin-bottom:10px;
        cursor:pointer;
    }
}