.post{
width:400px;
margin:0px 25px 40px 0px;

.post-img{
    width:100%;
    height:200px;
    border-radius: 4px 4px 0px 0px;
    background-image:url("https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=828&q=80");
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:10px;
    .chip{
        width:20%;
    }
    .post-heading{
        color:white;
        margin-left:5px;
        font-size:20px;
    }
}
.post-summary{
    padding:10px;
    .post-sum{
        font-size:18px;
        overflow:hidden;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:4;
        -webkit-box-orient: vertical;
    }
    .post-date{
        margin-top:12px;
        font-size:15px;
        color:rgb(97, 97, 97);
    }
}

}